article[bakery]
{
color:red;
}

article[lunch]
{
    font-size: 24px;
}

.box1
{
    height:100px;
    width: 100px;
    background-color: red;
    font-style: normal;
    
}
.box2
{
    height:100px;
    width: 100px;
    background-color: red;
    font-style: normal;
    color:white;
}
.box3
{
    height:100px;
    width: 100px;
    background-color: red;
    font-style: normal;
    
}


.box1::first-line
{
    color: black;
    font-style: italic;
    
}
.box2::first-line
{
    color: black;
    font-style: italic;
}
.box3::first-line
{
    color: black;
    font-style: italic;
}

button:hover
{
    color:blue;
}
button:focus
{
    width:200px;
    height:150px;
    border-radius: 50px ;
}
